<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Daniel Christl</title>
  </head>
  <body>
    <h1>IF YOU WANTED A SOFT SERVE, GET ICE CREAM</h1>
  </body>
</html>